{% extends "master.html" %}
{% load string_utils %}
{% block title %}Project | {% get_string 'app_name' %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="../CSS/project.css">
{% endblock %}
{% block content %}

<!-- ===== CAT VS DOG CLASSIFIER SECTION ===== -->
<div class="container" id="ai-tutor-animal-classifier">
  <h2>{% get_string 'animal_classifier_text' %}</h2>
  <!-- Upload form -->
  <div class="upload-section">
    <div class="card">
      <h3 class="title"><span class="nudge-up">📷</span> {% get_string 'upload_image_text' %}</h3>
      <form method="post" enctype="multipart/form-data" class="upload-form">
        <input type="file" name="image" accept="image/*" onchange="previewImage(event)" required>
        <div class="preview" id="preview"></div>
        <button type="submit">🔍 {% get_string 'upload_and_predict_text' %}</button>
      </form>
      <div class="prediction">
        {{result}}
      </div>
    </div>
  </div>

</div>

{% endblock %}