{% load string_utils %}
<img src="/Image/Logo_new2.png" alt="Cognilume Logo" class="logo" />
<!-- <h1>{% get_string 'app_name' %}</h1> -->
<div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div>
<nav id="nav-menu">
    <div class="mobile-header-content mobile-only">
        <img src="/Image/Logo_new2.png" alt="Cognilume Logo" class="logo">
        <!-- <h1>{% get_string 'app_name' %}</h1> -->
    </div>
    <a href="/">{% get_string 'home_text' %}</a>
    <a href="/ai-tutor/">{% get_string 'ai_tutor_text' %}</a>
    <a href="/Interview/">{% get_string 'coding_text' %}</a>
    <a href="/blog/">{% get_string 'blog_text' %}</a>
    <a href="/about/">{% get_string 'about_text' %}</a>
    <a href="/contact/">{% get_string 'contact_text' %}</a>
    <a href="/feedback/">{% get_string 'feedback_text' %}</a>
    {% if user.is_authenticated %}
    <span style="color: var(--cyan); margin-left: 20px;">
        Welcome, {{ user.name }}!
    </span>
    <a href="/logout/">{% get_string 'logout_text' %}</a>
    {% else %}
    <a href="/login/">{% get_string 'login_text' %}</a>
    <!-- <a href="/register/">{% get_string 'register_text' %}</a> -->
    {% endif %}

</nav>