<!DOCTYPE html>
<html lang="en">
{% load string_utils %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <meta property="og:title" content="Cognilume | Illuminating Vision Through Intelligence">
  <meta property="og:description" content="Current semester projects and portfolios from the Cognilume platform.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.pragyasavarna.com/">
  <meta property="og:image" content="https://www.pragyasavarna.com/static/Image/Logo.jpeg">
  <!-- Default / Global CSS -->
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <!-- Dynamic CSS Block -->
  {% block extra_css %}
  <!-- Child templates will insert their CSS here -->
  {% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/svg+xml" href="/Image/logo.svg">

</head>

<body>

  <!-- ===== HEADER ===== -->
  <header>
    <img src="/Image/Logo.jpeg" alt="Cognilume Logo" class="logo" />
    <h1>{% get_string 'app_name' %}</h1>
    <nav>
      <a href="/">{% get_string 'home_text' %}</a>
      <a href="/about/">{% get_string 'about_text' %}</a>
      <a href="/contact/">{% get_string 'contact_text' %}</a>
      <a href="/feedback/">{% get_string 'feedback_text' %}</a>
      {% if user.is_authenticated %}
      <a href="/project/">{% get_string 'project_text' %}</a>
      <span style="color: var(--cyan); margin-left: 20px;">
        Welcome, {{ user.name }}!
      </span>
      <a href="/logout/">{% get_string 'logout_text' %}</a>
      {% else %}
      <a href="/login/">{% get_string 'login_text' %}</a>
      <a href="/register/">{% get_string 'register_text' %}</a>
      {% endif %}

    </nav>
  </header>

  <!-- ===== CONTENT SECTION ===== -->
  <main>
    {% block content %}
    <!-- Child pages will load here -->
    {% endblock %}
  </main>

  <!-- Common Footer -->
  <footer>
    {% get_string 'footer_text' %}
  </footer>
  <script src="../JavaScript/script.js"></script>
</body>

</html>