<!DOCTYPE html>
<html lang="en">
{% load string_utils %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZRLQBS0TW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-BZRLQBS0TW');
  </script>
  <base href="/">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}Welcome to Cognilume, a platform showcasing projects in Artificial Intelligence, Machine Learning, and Web Development.{% endblock %}">
  <meta name="keywords" content="{% block keywords %}Cognilume, AI, Machine Learning, Web Development, Projects, Portfolio{% endblock %}">
  <meta property="og:title" content="Cognilume | Illuminating Vision Through Intelligence">
  <meta property="og:description" content="Current semester projects and portfolios from the Cognilume platform.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.pragyasavarna.com/">
  <meta property="og:image" content="https://www.pragyasavarna.com/static/Image/Logo.jpeg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <!-- Default / Global CSS -->
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/mobile_menu.css">
  <!-- Dynamic CSS Block -->
  {% block extra_css %}
  <!-- Child templates will insert their CSS here -->
  {% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/Image/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/Image/logo.svg">
</head>

<body>

  <!-- ===== HEADER ===== -->
  <header>
    {% include 'header.html' %}
  </header>

  <!-- ===== CONTENT SECTION ===== -->
  <main>
    {% block content %}
    <!-- Child pages will load here -->
    {% endblock %}
  </main>

  <!-- Common Footer -->
  <footer>
    {% get_string 'footer_text' %}
  </footer>
  <script src="../JavaScript/script.js"></script>
  {% block extra_js %}
  <!-- Child templates will insert their CSS here -->
  {% endblock %}
</body>

</html>